@use 'sass:color';
@use 'variables' as *;

@mixin button-primary {
  background-color: $primary-color;
  color: white;
  border: none;
  font-weight: 500;
  
  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}